*{
	margin:0;
	padding:0;
	font-family:"source-sans-pro", sans-serif;
}
body{
	background-color:rgb(233, 235, 222);
	/*background:url(img/534545_default.jpg) no-repeat center center fixed;
	background-size: cover;*/
}
#top{
	text-align:center;
	padding:10px;
	background-color:rgb(21, 14, 10);
}
#title *{
	font-size:60px;
	font-weight:800;
	text-align:center;
	color:rgb(145, 32, 30);
	text-decoration:none;
}
#nav{
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
}
#nav a{
	display:inline-block;
	margin:0 20px;
	color:rgb(181,164,151);
	font-weight:700;
}

#top_main_divider{
	background-color:rgb(220,220,220);
	height:2px;
}

#editor { 
	margin:30px;
	width:550px;
	height:260px;
	padding:4px;
	border:grey 3px solid;
	border-radius:2px;
}
#editor *{
	font:18px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important; 
}

#download{
	vertical-align:top;
	width:400px;
	display:inline-block;
	margin-top:30px;
}

#salgon{
	/*color:rgb(255,255,255);*/
	margin-top:30px;
	font-weight:700;
	font-size:30px;
	background-color:rgba(0,0,0,0.1);
	display:inline-block;
	padding:10px;
	border-radius:10px;
}